.calva/mcp-server/port
.calva/repl.calva-repl
.rebel_readline_history
.vs/
*.nupkg
*.suo
*.user
/.calva/output-window
/.clj-kondo/.cache
/.cpcache
/.lein-failures
/.lein-repl-history
/.lsp/.cache
/.nrepl-port
/.portal/vs-code.edn
/.socket-repl-port
/cljs-test-runner-out
bin/
obj/
target
