{:paths ["src/main/clojure"]
 :aliases {:test {:extra-paths ["src/test/clojure"]}
           :1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
           :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
           :1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.0"}}}
           :runner
           {:extra-deps {io.github.cognitect-labs/test-runner
                         {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
            ;; required to override test-runner's transitive dependency
            ;; on an older version of this project:
            :override-deps {org.clojure/tools.cli {:local/root "."}}
            :main-opts ["-m" "cognitect.test-runner"
                        "-d" "src/test/clojure"]}
           :cljs-runner
           {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.1"}}
            ;; required to override cljs-test-runner's transitive dependency
            ;; on an older version of this project:
            :override-deps {org.clojure/tools.cli {:local/root "."}}
            :main-opts ["-m" "cljs-test-runner.main"
                        "-d" "src/test/clojure"]}}}
